<!DOCTYPE html>
<html ng-app="AppAboutMe">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About me</title>
    <link rel="stylesheet" href="libs/bootstrap.css" />
    <link rel="stylesheet" href="libs/normalize.css" />
    <link rel="stylesheet" href="libs/font-awesome.css" />
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body class="content-wrapper" ng-controller="AppCtrl as ame">
    <div class="sidebar" ng-class="{ 'sidebar-hidden': ame.sidebarHidden }">
        <span class="sidebar-icon"><i class="fa fa-reorder pull-right" ng-click="ame.hideSideBar()"></i></span>
        <span><i class="fa fa-home icon-home" ng-click="ame.selectedLink=false"></i></span>
        <div class="clearfix text-center info">
            <img src="imgs/personal.jpg" alt="Thau Nguyen" class="img-circle">
            <h3 class="name">Thau Nguyen</h3>
            <p>Male</p>
            <p>August 08</p>
            <p>hoangthau627@gmail.com</p>
            <p>TP. Ho Chi Minh, Vietnam</p>
        </div>
        <div class="text-center">
            <img src="imgs/angular.png" alt="Angular" width="100px" height="100px">
        </div>
    </div>
    <div class="main-content" ng-class="{ 'main-content-mg': ame.sidebarHidden }" ng-show="!ame.showSpinner">
        <nav>
            <ul>
                <li ng-click="ame.onSelectLink(1)" ng-class="{ 'active': ame.selectedLink === 1}"><a href="#">Skills</a></li>
                <li ng-click="ame.onSelectLink(2)" ng-class="{ 'active': ame.selectedLink === 2}"><a href="#">Projects</a></li>
                <li ng-click="ame.onSelectLink(3)" ng-class="{ 'active': ame.selectedLink === 3}"><a href="#">Hobbies</a></li>
            </ul>
        </nav>
        <div style="padding: 20px;">
            <div class="welcome" ng-show="!ame.selectedLink">
                <h3 class="app-heading">Introduction</h3>
                <p style="text-align: justify;">My major is Computer Science. I've graduated at Can Tho University with very good Bachelor Degree.
                I love programming, so I also know many languages and technologies: C++, HTML5, CSS3, Jquery, JqueryUI, Boostrap, AngularJS, MVC framework, Javascript.
                Especially, I focus on website technology.

                I'm an experienced web developer with over 2 years of experiences through studying(Can Tho University) and working( TMA Solutions).</p>
            </div>
            <div class="skill" ng-show="ame.selectedLink===1">
                <div class="bg">
                    <img src="imgs/angular.png" alt="">
                    <img src="imgs/html5.png" alt="">
                    <img src="imgs/css3.png" alt="">
                    <img src="imgs/jquery.png" alt="">
                    <img src="imgs/bootstrap.png" alt="">
                    <img src="imgs/yeoman.png" alt="">
                    <img src="imgs/node.png" alt="">
                    <img src="imgs/grunt.png" alt="">
                </div>
                <div class="bg">
                    <img src="imgs/java.png" alt="">
                    <img src="imgs/c++.png" alt="">
                    <img src="imgs/c.png" alt="">
                    <img src="imgs/javascript.png" alt="">

                </div>
            </div>
            <div class="project" ng-show="ame.selectedLink===2">
                <h3 class="app-heading">Library Management System</h3>

                <p>A web application for small and medium-size companies, which supports administrators in:</p>
                <ul>
                    <li>Library managing activities (e.g. member, adding books, searching books , deleting books, checking out/in books, …)</li>
                    <li>Reports : member wise book issued /received report(Dept wise), book movement report, daily book issued report, daily book received report,…</li>
                </ul>

                <h4>Job description & roles:</h4>
                <ul>
                    <li>Working on Analysis and Design</li>
                    <li>Feature implementing</li>
                    <li>Performing code review and technical supports</li>
                </ul>

                <h4>Technologies:</h4>
                <ul>
                    <li>AngularJS</li>
                    <li>jQuery</li>
                    <li>jQueryUI</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Ajax</li>
                    <li>Google Chart</li>
                </ul>

                <h3 class="app-heading">User Authentication Using Face Recognition System</h3>

                <p>A desktop application on Linux, which provides functionalities to:</p>
                <ul>
                    <li>Using face to login system</li>
                    <li>Recognition from outdoor facial images.</li>
                    <li>Easy and fast facial recognition system for automatically identifying or verifying a person using computer webcam.</li>
                </ul>

                <h4>Job description & roles:</h4>
                <ul>
                    <li>Involving in implementation</li>
                    <li>Performing code review and technical supports</li>
                </ul>

                <h4>Technologies</h4>
                <ul>
                    <li>SVM</li>
                    <li>Data Mining</li>
                    <li>Machine Learning</li>
                    <li>C++</li>
                    <li>Shell script</li>
                </ul>
            </div>
            <div class="hobby" ng-show="ame.selectedLink===3">

            </div>
        </div>
    </div>
    <footer>
        2014 All rights reserved. Thau Nguyen
    </footer>
    <div class="spinner" ng-show="ame.showSpinner">
        <div class="load-spinner" ng-style="ame.widthSpinner"></div>
        <span><i class="fa fa-4x fa-spinner fa-spin"></i></span>
    </div>
    <div class="bg-hidden" ng-click="ame.hideSideBar()" ng-show="ame.showBg"></div>
<script src="libs/angular.js"></script>
<script src="libs/angular-route.js"></script>
<script src="libs/jquery-1.11.1.min.js"></script>
<script src="js/main.js"></script>
    <!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?4PRfZ9QWwJ3o2lpRwuLNveugFZl8skHi";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
</body>
</html>
